#form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#image-container {
    position: relative;
}

#car-image {
    max-width: 100%;
    height: auto;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Asegura que el canvas ocupe todo el ancho del contenedor */
    height: auto; /* Hace que la altura sea proporcional al ancho */
}

.active-button {
    background-color: #007bff;
    color: white;
}
